<p>Написать программу,которая вводит цепочку целыхчисел(количество чиселнеменее10)и определяет наиболее длинную монотонно возрастающую их последовательность. Вывести на печать введенную цепочку, все найденные последовательности и наиболее длинную из них. При программировании использовать функцию.</p>

Введите цепочку чисел (не менее 10) <input type='text' id='seq' /><br />
<button id='count'>Готово</button><br />
<span id='output'></span>
