<h1>ЛР 8. Ruby on Rails</h1>
<p>Написать программу,которая вводит цепочку целыхчисел(количество чиселнеменее10)и определяет наиболее длинную монотонно возрастающую их последовательность. Вывести на печать введенную цепочку, все найденные последовательности и наиболее длинную из них. При программировании использовать функцию.</p>

<%= form_with(url: '/answer', method: 'get', local: true) do %>
Введите цепочку чисел (не менее 10) <%= text_field_tag(:arr) %>
<%= submit_tag("Готово") %>
<% end %>
